.needHelpBlock {
  position: relative;
  width: 400px;
  height: 355px;
  border-radius: 8px;
  background-color: var(--modal-background);
  padding: 24px;
  margin: 0 14px;
}

.modalTitle {
  font-size: 18px;
  color: var(--modal-title-color);
}

.inputForm {
  margin-top: 24px;
}

.inputCardTitle {
  width: 352px;
  padding: 14px 0 14px 18px;
  border-radius: 8px;
  border: 1px solid var(--btn-background);
  background-color: transparent;
  opacity: 0.4;
  transition: var(--transition);
  color: var(--modal-title-color);
}

.inputCardDescription {
  width: 352px;
  height: 120px;
  padding: 14px 0 0 18px;
  margin-top: 14px;
  border-radius: 8px;
  border: 1px solid var(--btn-background);
  resize: none;
  background-color: transparent;
  opacity: 0.4;
  transition: var(--transition);
  color: var(--modal-title-color);
}

.needHelpButton {
  width: 352px;
  height: 49px;
  margin-top: 24px;
}

.closeModal {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.closeModal button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

@media screen and (min-width: 1024px) {
  .inputCardDescription:hover,
  .inputCardDescription:focus,
  .inputCardTitle:hover,
  .inputCardTitle:focus {
    opacity: 1;
  }
}
