.container {
  border-radius: 8px;
  height: 522px;
  position: relative;
  padding: 24px;
  width: 100%;
  background: var(--modal-background);
  border: 1px solid var(--modal-border-color);
}

@media only screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 350px;
  }
}

.titleModal {
  margin-bottom: 24px;
  font-family: 'Poppins-Medium';
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--modal-title-color);
}

.closeModal {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.closeModal button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.titleCard,
.styledDescription {
  padding-left: 18px;
  outline: transparent;
  outline-offset: -1px;
  border: 1px solid var(--btn-background);
  border-radius: 8px;
  width: 287px;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  margin-bottom: 14px;
  background-color: transparent;
  color: var(--modal-title-color);
  transition: opacity var(--transition);
}

.titleCard:hover,
.titleCard:focus,
.titleCard:active,
.styledDescription:hover,
.styledDescription:focus,
.styledDescription:active {
  opacity: 1;
}

@media only screen and (min-width: 375px) {
  .titleCard,
  .styledDescription {
    width: 287px;
  }
}

@media only screen and (min-width: 768px) {
  .titleCard,
  .styledDescription {
    width: 302px;
  }
}

.descriptionError {
  margin-top: 5px;
}

.label {
  position: relative;
  display: block;
}

.styledDescription {
  padding-top: 14px;
  height: 154px;
  resize: none;
}


.labelColorStyle,
.deadlineStyle {
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--label-text-color);
  margin-bottom: 4px;
}

.addButton {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background: var(--btn-background);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
  cursor: pointer;
}

.addButton:hover,
.addButton:focus,
.addButton:active {
  background-color: var(--btn-hover-background);
}

@media only screen and (min-width: 375px) {
  .addButton {
    width: 287px;
  }
}

@media only screen and (min-width: 768px) {
  .addButton {
    width: 302px;
  }
}
 .iconPlus {
  border: none;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  background-color: var(--logo-background);
  stroke: var(--close-icon-color);
}


.span {
  font-family: 'Poppins-Medium';
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--btn-background);
}

.buttonText {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--btn-text-color);
}

.options {
  height: 18px;
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}

.priorityOpt {
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.radioWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.radioInput {
  display: none;
}

.radioButton {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--label-color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  position: relative;
}

.innerCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.radioInput:checked + .radioButton .innerCircle {
  background-color: var(--label-color-grey);
}

.priorityOpt:nth-of-type(2) .radioButton {
  background-color: var(--label-color-blue);
}

.priorityOpt:nth-of-type(3) .radioButton {
  background-color: var(--label-color-red);
}

.priorityOpt:nth-of-type(4) .radioButton {
  background-color: var(--label-color-green);
}

.errorMessage {
  color: red;
}

