.button {
  width: 100%;
  height: 49px;
  border-radius: 8px;
  border: transparent;
  background-color: var(--green-btn);
  font-weight: 500;
  color: var(--btn-text-color);
  text-align: center;

  transition: background-color, 250ms ease-in;
}

@media screen and (min-width: 1024px) {
  .button:hover,
  .button:focus {
    background-color: var(--green-btn-hover);
  }
}

/* .button {
  width: 100%;
  height: 49px;
  border-radius: 8px;
  border: transparent;
  background-color: var(--btn-background);

  font-weight: 500;
  color: var(--btn-text-color);
  text-align: center;

  transition: background-color, 250ms ease-in;
}

@media screen and (min-width: 1024px) {
  .button:hover,
  .button:focus {
    background-color: var(--btn-hover-background);
  }
} */
