.modal {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  color: #fff;
}

.modal h2 {
  margin-top: 0;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
}

.saveButton {
  background-color: #a0d468;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.saveButton svg {
  margin-right: 8px;
}

.saveButton:hover {
  background-color: #8cc153;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

/* .iconClose {
  fill: #fff;
} */
