.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 14px;
  color: var(--manage-board-icons-color);
}
.item.active {
  color: var(--main-text-color);
  background-color: var(--active-board-background);
  border-radius: 4px;
}

.item.active::after {
  background-color: var(--board-line-color);
}
.item.active .containerIcons {
  display: flex;
}
.item.active .focusIcon {
  display: inline-block;
  opacity: 1;
}

.item.active .icon {
  stroke: var(--board-icon-color);
}

.item::after {
  content: '';
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: transparent;
  transition: all 250ms ease-in;
}

.item:hover,
.item:focus {
  color: var(--main-text-color);
  background-color: var(--active-board-background);
  border-radius: 4px;
}
.item:hover::after,
.item:focus::after {
  background-color: var(--board-line-color);
}

.text {
  font-weight: 500;
}
.containerBoard {
  display: flex;
  align-items: center;
  gap: 4px;
}
.containerIcons {
  display: none;
  align-items: center;
  gap: 4px;
}

.focusIcon {
  opacity: 0;
  stroke: var(--manage-board-icons-color);
  transition: opacity 200ms ease;
}
.icon {
  stroke: var(--manage-board-icons-color);
}
.item:hover .icon,
.item:focus .icon {
  stroke: var(--board-icon-color);
}

.btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn:hover .focusIcon,
.btn:focus .focusIcon,
.btn:active .focusIcon {
  stroke: var(--manage-board-icons-hover-color);
}
