.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 24px;
  border-radius: 8px;

  background-color: var(--modal-background);
  color: var(--modal-title-color);
  border: 1px solid var(--modal-border-color);
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.buttonClose {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -10px;
  right: -10px;

  border: hidden;
  background-color: transparent;
  fill: var(--close-icon-color);
  stroke: var(--close-icon-color);
}

.description {
  font-size: 14px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

button.button {
  height: 40px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}
