.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 350px;
  padding: 24px;
  border-radius: 8px;

  background-color: var(--noir-black);
  color: var(--white-text);
}

.buttonClose {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 14px;
  top: 14px;

  border: hidden;
  background-color: transparent;
  fill: var(--white-text);
  stroke: var(--white-text);
}

.description {
  font-size: 18px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}