.cardBody {
  border-radius: 8px;
  width: 334px; /* змінити на width: 100%; коли стане у колонку */
  height: 154px;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 14px 14px 14px 18px;
}

.cardBody::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cardBody.elemLow::before {
  background-color: var(--label-color-blue);
}

.cardBody.elemMedium::before {
  background-color: var(--label-color-red);
}

.cardBody.elemHigh::before {
  background-color: var(--label-color-green);
}

.cardBody.elemWithout::before {
  background-color: var(--label-color-grey);
}

.cardTitle {
  text-align: left;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--modal-title-color);
  margin-bottom: 8px;
}

.cardDescription {
  text-align: left;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--card-desc-text-color);
  width: 290px;
  max-height: 38px;
  word-wrap: break-word; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 14px;
}

.cardSolid {
  border: 1px solid var(--border-color);
  margin-bottom: 14px;
}

.cardDetals {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cardInformation {
  display: flex;
  gap: 14px;
}

.priority {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
}

.priorityDetals {
  display: flex;
  align-items: center;
}

.priorityTitle {
  text-align: left;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: var(--label-text-color);
}

.priorityColor {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.circleLow {
  background-color: var(--label-color-blue);
}

.circleMedium {
  background-color: var(--label-color-red);
}

.circleHigh {
  background-color: var(--label-color-green);
}

.circleWithout {
  background-color: var(--label-color-grey);
}

.priorityTipe {
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--modal-title-color);
}

.priorityTipe:first-letter {
  text-transform: uppercase;
}

.deadline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
}

.deadlineTitle {
  text-align: left;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: var(--label-text-color);
}

.deadlineDate {
  text-align: left;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--modal-title-color);
}

.cardButtons {
  display: flex;
  gap: 8px;
  stroke: var(--card-btn-color);
}

.cardButtons button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.bell {
  stroke: none;
}

.bell.active {
  stroke: var(--btn-background);
}

.button {
  cursor: pointer;
  transition: border-color, 250ms ease-in;
  stroke: var(--card-btn-color);
}

.button:hover,
.button:focus {
  stroke: var(--btn-background);
}
