/* Mobile First */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 20px;
  background-color: var(--taskboard-background);
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.addColumnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 78px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.addColumnButton:hover {
  background-color: #bedbb0;
}

.svgColumnBtn {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.addIcon {
  fill: #fff;
  stroke: #fff;
}

.textContainer {
  display: flex;
  /* марджины как заглушки, надо исправить */
  margin: 292px 20px;
  /* text-align: center; */
}

.text {
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  /* color: rgba(255, 255, 255, 0.5); */
}

.spanCreateBoard {
  color: #bedbb0;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* Mobile Adapted */
@media (min-width: 375px) {
  .addColumnButton {
    min-width: 335px;
    height: 56px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .addColumnButton {
    min-width: 334px;
  }

  .dashboard {
    align-items: flex-start;
    padding: 26px 32px;
  }

  .text {
    font-size: 14px;
    line-height: 1.28571;
    /* color: rgba(255, 255, 255, 0.5); */
  }

  .textContainer {
    /* марджины как заглушки, надо исправить */

    margin: 368px 141px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .addColumnButton {
    min-width: 333px;
  }

  .dashboard {
    align-items: flex-start;
    padding: 10px 24px;
  }
  .textContainer {
    /* марджины как заглушки, надо исправить */

    margin: 241px 347px;
  }
}
