.container {
  background-color: var(--modal-background);
  position: relative;
  max-width: 335px;
  padding: 24px;
  border: 1px solid var(--modal-border-color);
  border-radius: 8px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  color: var(--modal-title-color);
  margin-bottom: 24px;
}
.btnClose {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: inherit;
  border: none;
  outline: none;
}
.iconX {
  stroke: var(--create-board-icons-color);
  cursor: pointer;
  transition: all 250 ease;
}
.iconX:hover,
.iconX:focus {
  stroke: var(--create-board-selected-icon-color);
}
/* .input {
  background-color: var(--dark);
  width: 287px;
  height: 49px;
  color: var(--white-text);
  padding: 14px 0 14px 18px;
  border: 1px solid var(--green-btn);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  margin-bottom: 24px;
  opacity: 0.4;
  transition: opacity 250ms ease-in;
}
.input:hover,
.input:focus {
  opacity: 1;
} */

.input {
  width: 287px;
  height: 49px;
  margin-bottom: 24px;

  padding: 0 18px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  outline: transparent;

  background-color: transparent;
  transition: border-color, 250ms ease-in;

  color: var(--input-text-color);
}

.input:hover,
.input:focus {
  border-color: var(--input-hover-border-color);
}

@media screen and (min-width: 1024px) {
  .input:hover,
  .input:focus {
    border-color: var(--input-hover-border-color);
  }
}

.subheader {
  font-weight: 500;
  color: var(--modal-title-color);
  margin-bottom: 14px;
}
.iconList {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.iconItem:hover .icon,
.iconItem:focus .icon {
  stroke: var(--create-board-selected-icon-color);
}
.icon {
  stroke: var(--create-board-icons-color);
}

.selected {
  stroke: var(--create-board-selected-icon-color);
}
.bgList {
  position: relative;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin-bottom: 40px;
  max-width: 252px;
}

.bg {
  height: 28px;
  border-radius: 7px;
}

.iconItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputRadio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.iconItem,
.bgItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon,
.bg,
.selectedBg,
.iconBg {
  pointer-events: none;
}

.iconPlus {
  width: 14px;
  height: 14px;
  stroke: var(--plus-icon-btn-color);
}
.svgBox {
  width: 28px;
  height: 28px;
  background-color: var(--plus-icon-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bgItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 28px) / 8);
  height: 28px;
  padding: 0;
  background-color: var(--dark);
  border-radius: 7px;
}

.iconBg {
  stroke: var(--white);
  opacity: 0.1;
}

.bgItemIcon {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: var(--dark);
  border-radius: 7px;
}

.selectedBgItemIcon {
  background-color: var(--dark);
  width: 28px;
  height: 28px;
  padding: 7px;
  border-radius: 7px;
  transform: scale(1.2);
  box-shadow: 0px 0px 6px 0px rgba(206, 207, 218, 0.8),
    0px 0px 2px 0px rgba(232, 249, 237, 0.12),
    0px 0px 2px 0px rgba(179, 245, 206, 0.1);
  transition: transform 250ms ease-in;
}

.selectedBgItemIcon .iconBg {
  opacity: 1;
}
.bg {
  height: 28px;
  border-radius: 7px;
  transition: transform 250ms ease-in;
}

.selectedBg {
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px rgba(206, 207, 218, 0.8),
    0px 0px 2px 0px rgba(232, 249, 237, 0.12),
    0px 0px 2px 0px rgba(179, 245, 206, 0.1);
  transform: scale(1.2);
  transition: transform 250ms ease-in;
}
input[type='radio'] {
  margin-right: 0;
}
