.container {
  display: flex;
  padding: 24px 88px 24px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}
.text {
  font-weight: 500;
  color: var(--main-text-color);
}
.icon {
  stroke: var(--btn-background);
  transition: transform 200ms ease;
}
.icon:hover,
.icon:focus {
  stroke: var(--btn-hover-background);
}
.button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  width: 100%;
  background-color: inherit;
  border: none;
  padding: 0;
}
