.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 12px 18px 0;
}

.wrapper {
  border-radius: 8px;
  padding: 2px 2px;
  background-color: var(--taskboard-background);
}

.filterButton {
  background: none;
  border: none;
  color: var(--header-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boardName {
  font-weight: 500;
  font-size: 18px;
  color: var(--modal-title-color);
}

.icon {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 30px 0;
  }
  .wrapper {
    padding: 2px 2px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 8px 22px 0;
  }
  .wrapper {
    padding: 2px 2px;
  }
}