.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  background-color: #161616;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filterButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boardName {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.icon {
  margin-right: 5px;
}

@media (max-width: 375px) {
}
