.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuBtnContainer {
  display: flex;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.chevronIcon {
  margin-left: 4px;
  fill: var(--icon-stroke-color);
  stroke: var(--icon-stroke-color);
}

.rightSection {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* THEME */

.themeSelectorContainer {
  position: relative;
  margin-right: 14px;
}

.themeButton {
  border: none;
  cursor: pointer;
  background-color: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--header-text-color);
  display: flex;
  align-items: center;
}

.themeSelector {
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: #161616; */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--other-text-color);
  border-radius: 4px;
  z-index: 1;
}

.themeSelector ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.themeSelector li {
  padding: 5px 10px;
  cursor: pointer;
}

.themeSelector li:hover {
  color: var(--btn-background);
}
/* THEME END*/

/* UserInfo */
.userInfo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-left: 10px;
}

.userName {
  font-size: 14px;
  color: var(--main-text-color);
  padding: 8px;
}

/* Responsive Styles */

/* Mobile First */
@media (max-width: 374px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Mobile Adapted */
@media (min-width: 375px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    min-width: 375px;
    min-height: 60px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    min-width: 768px;
    min-height: 68px;
  }

  /* SVG Burger Menu */
  .svgMenu {
    width: 32px;
    height: 32px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    min-width: 1180px;
  }

  /* HIDE ICON MENU for Desktop */
  .menuBtnContainer {
    display: none;
  }
}
