.wrapperBox {
  position: relative;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 100%;
  height: 49px;
  border-radius: 8px;

  transition: border-color, 250ms ease-in;
}

.input:focus-within {
  border-color: var(--input-hover-border-color);
}

.input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: inset 0 0 0 50px var(--noir-black);
  -webkit-text-fill-color: var(--white-text);
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 18px;
  padding-right: 64px;
  border: transparent;
  border-radius: 8px;
  outline: transparent;
  background-color: transparent;

  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  transition: border-color, 250ms ease-in;

  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 18px;
  z-index: 9999;

  padding: 5px;
  border: hidden;
  background-color: transparent;
}

.iconShow {
  stroke: #737373;
  transition: stroke, 250ms ease-in;
}

.iconHide {
  stroke: #7373737b;
  transition: stroke, 250ms ease-in;
}

@media screen and (min-width: 1024px) {
  .container:hover,
  .container:focus {
    border-color: var(--input-hover-border-color);
  }
}
.errorForm {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: red;
  position: absolute;
  top: 100%; 
  left: 5%;
  width: 100%;
}