.containerBackground {
  display: flex;
  flex-direction: column;
  max-width: 225px;
  background-color: var(--sidebar-background);
}
.container {
  padding: 14px 14px 20px 14px;
}
.boardsText {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--other-text-color);
  margin-bottom: 8px;
}
.createBoardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 14px;
  padding-bottom: 14px;
}
.createBoardText {
  color: var(--main-text-color);
  font-weight: 500;
  max-width: 76px;
}
.btnPlus {
  background-color: var(--btn-background);
  width: 40px;
  height: 36px;
  border-radius: 4px;
  border: none;
}
.btnPlus:hover,
.btnPlus:focus {
  background-color: var(--btn-hover-background);
}
.listBox {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 146px;
  overflow-y: auto;
  margin-bottom: auto;
}

.listBox::-webkit-scrollbar {
  width: 4px;
}

.listBox::-webkit-scrollbar-thumb {
  background-color: var(--green-btn);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .containerBackground {
    max-width: 260px;
  }
  .container {
    padding: 24px 24px 20px 24px;
  }
}
@media screen and (min-width: 1440px) {
  .listBox {
    min-height: 126px;
  }
}
