@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif, 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white-modal: #fcfcfc;
  --white: #fdfdfd;
  --white-text: #fff;
  --black: #121212;
  --dull-black: #161616;
  --noir-black: #151515;
  --dark: #1f1f1f;
  --violet: #d6d8ff;
  --green-input: rgba(190, 219, 176, 0.4);
  --green-btn: #bedbb0;
  --green-btn-hover: #9dc888;
  --violet-btn: #5255bc;
  --violet-btn-hover: #7b7ede;
  --label-color-grey: rgba(255, 255, 255, 0.3);
  --label-color-blue: #8fa1d0;
  --label-color-red: #e09cb5;
  --label-color-green: #bedbb0;
  --form-error-red: #e7b4ad;
  --transition: 250ms ease-in;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

body.dark {
  --main-text-color: #fff;
  --header-background: #161616;
  --sidebar-background: #121212;
  --taskboard-background: #1f1f1f;
  --header-text-color: rgba(255, 255, 255, 0.8);
  --other-text-color: rgba(255, 255, 255, 0.5);
  --btn-background: #bedbb0;
  --btn-hover-background: #9dc888;
  --icon-stroke-color: rgba(255, 255, 255, 0.8);
  --border-color: rgba(255, 255, 255, 0.1);
  --modal-background: #151515;
  --modal-title-color: #fff;
  --label-text-color: rgba(255, 255, 255, 0.5);
  --btn-text-color: #161616;
  --disabled-text-color: rgba(255, 255, 255, 0.2);
  --calendar-border-color: rgba(255, 255, 255, 0.2);
  --card-background: #121212;
  --card-desc-text-color: rgba(255, 255, 255, 0.5);
  --card-btn-color: rgba(255, 255, 255, 0.5);
  --support-component-background: #1f1f1f;
  --close-icon-color: #fff;
  --logo-background: #1f1f1f;
  --plus-btn-background: #bedbb0;
  --plus-btn-hover-background: #9dc888;
  --plus-icon-color: #121212;
  --logout-icon-color: #bedbb0;
  --logout-icon-hover-color: #9dc888;
  --username-text-color: #fff;
  --theme-selector-text-color: rgba(255, 255, 255, 0.5);
  --modal-border-color: rgba(190, 219, 176, 0.5);
  --input-text-color: #fff;
  --input-border-color: rgba(190, 219, 176, 0.4);
  --input-hover-border-color: rgb(190, 219, 176);
  --edit-profile-plus-background: #bedbb0;
  --radio-background: rgba(255, 255, 255, 0.3);
  --theme-modal-border-color: #BEDBB0;
  --active-board-background: #1f1f1f;
  --board-line-color: #bedbb0;
  --board-icon-color: #fff;
  --manage-board-icons-color: rgba(255, 255, 255, 0.5);
  --manage-board-icons-hover-color: #fff;
  --create-board-icons-color: rgba(255, 255, 255, 0.5);
  --create-board-selected-icon-color: #fff;
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --bg-icon-background:#1f1f1f;
  --plus-icon-background: #161616;
  --plus-icon-btn-color: #FFFFFF;
  --add-card-btn-background: #121212;
  --add-card-btn-text-color: #fff;
  --add-card-plus-icon-color: #121212;
  --add-card-plus-icon-background: #fff;
  --column-card-background: #121212;
  --manage-column-icons-color: rgba(255, 255, 255, 0.5);
  --manage-column-icons-hover-color: #fff;
  --scroll-color: #121212;
  --scroll-background-color: rgba(255, 255, 255, 0.3);
  --scroll-background-color-hover: rgba(255, 255, 255, 0.4);
}

body.light {
  --main-text-color: #161616;
  --header-background: #fcfcfc;
  --sidebar-background: #fff;
  --taskboard-background: #f6f6f7;
  --header-text-color: rgba(22, 22, 22, 0.8);
  --other-text-color: rgba(22, 22, 22, 0.5);
  --btn-background: #bedbb0;
  --btn-hover-background: #9dc888;
  --icon-stroke-color: rgba(22, 22, 22, 0.8);
  --border-color: rgba(22, 22, 22, 0.1);
  --modal-background: #fcfcfc;
  --modal-title-color: #161616;
  --label-color-grey: rgba(22, 22, 22, 0.3);
  --label-text-color: rgba(22, 22, 22, 0.5);
  --btn-text-color: #161616;
  --disabled-text-color: rgba(22, 22, 22, 0.2);
  --calendar-border-color: rgba(22, 22, 22, 0.2);
  --card-background: #ffffff;
  --card-desc-text-color: rgba(22, 22, 22, 0.7);
  --card-btn-color: rgba(22, 22, 22, 0.5);
  --support-component-background: #f6f6f7;
  --close-icon-color: #161616;
  --logo-background: #1f1f1f;
  --plus-btn-background: #bedbb0;
  --plus-btn-hover-background: #9dc888;
  --plus-icon-color: #121212;
  --logout-icon-color: #bedbb0;
  --logout-icon-hover-color: #9dc888;
  --username-text-color: #161616;
  --theme-selector-text-color: #161616;
  --modal-border-color: transparent;
  --input-text-color: #161616;
  --input-border-color: rgba(190, 219, 176, 0.4);
  --input-hover-border-color: rgb(190, 219, 176);
  --edit-profile-plus-background: #bedbb0;
  --radio-background: rgba(22, 22, 22, 0.3);
  --theme-modal-border-color: #BEDBB0;
  --active-board-background: #F6F6F7;
  --board-line-color: #bedbb0;
  --board-icon-color: #161616;
  --manage-board-icons-color: rgba(22, 22, 22, 0.5);
  --manage-board-icons-hover-color: #161616;
  --create-board-icons-color: rgba(22, 22, 22, 0.5);
  --create-board-selected-icon-color: #161616;
  --bg-icon-color: rgba(22, 22, 22, 0.1);
  --bg-icon-background:#F6F6F7;
  --plus-icon-background: #161616;
  --plus-icon-btn-color: #FFFFFF;
  --add-card-btn-background: #fff;
  --add-card-btn-text-color: #161616;
  --add-card-plus-icon-color: #FFFFFF;
  --add-card-plus-icon-background: #161616;
  --column-card-background: #fff;
  --manage-column-icons-color: rgba(22, 22, 22, 0.5);
  --manage-column-icons-hover-color: #161616;
  --scroll-color: #e8e8e8;
  --scroll-background-color: rgba(22, 22, 22, 0.1);
  --scroll-background-color-hover: rgba(22, 22, 22, 0.2);
}

body.violet {
  --main-text-color: #fff;
  --header-background: #fff;
  --sidebar-background: #5255bc;
  --taskboard-background: #ecedfd;
  --header-text-color: rgba(22, 22, 22, 0.8);
  --other-text-color: #ffffff80;
  --btn-background: #5255bc;
  --btn-hover-background: #7b7ede;
  --icon-stroke-color: rgba(22, 22, 22, 0.8);
  --border-color: rgba(255, 255, 255, 0.1);
  --modal-background: #fcfcfc;
  --modal-title-color: #161616;
  --label-text-color: rgba(22, 22, 22, 0.5);
  --label-color-grey: rgba(22, 22, 22, 0.3);
  --btn-text-color: #ffffff;
  --disabled-text-color: rgba(22, 22, 22, 0.2);
  --calendar-border-color: rgba(22, 22, 22, 0.2);
  --card-background: #ffffff;
  --card-desc-text-color: rgba(22, 22, 22, 0.7);
  --card-btn-color: rgba(22, 22, 22, 0.5);
  --support-component-background: rgba(236, 237, 253, 0.4);
  --close-icon-color: #161616;
  --logo-background: #ecedfd;
  --plus-btn-background: #b8bcfd;
  --plus-btn-hover-background: #979cea;
  --plus-icon-color: #ffffff;
  --logout-icon-color: #ffffff;
  --logout-icon-hover-color: #b8bcfd;
  --username-text-color: #161616;
  --theme-selector-text-color: #161616;
  --modal-border-color: transparent;
  --input-text-color: #161616;
  --input-border-color: rgba(82, 85, 188, 0.4);
  --input-hover-border-color: rgb(82, 85, 188);
  --edit-profile-plus-background: #ecedfd;
  --radio-background: rgba(22, 22, 22, 0.3);
  --theme-modal-border-color: #ECEDFD;
  --active-board-background: #7477C9;
  --board-line-color: #fff;
  --board-icon-color: #fff;
  --manage-board-icons-color: rgba(255, 255, 255, 0.5);
  --manage-board-icons-hover-color: #fff;
  --create-board-icons-color: rgba(22, 22, 22, 0.5);
  --create-board-selected-icon-color: #161616;
  --bg-icon-background: #ECEDFD;
  --bg-icon-color: rgba(22, 22, 22, 0.1);
  --plus-icon-background: #FFFFFF;
  --plus-icon-btn-color: #161616;
  --add-card-btn-background: #FFFFFF;
  --add-card-btn-text-color: #161616;
  --add-card-plus-icon-color: #FFFFFF;
  --add-card-plus-icon-background: #161616;
  --column-card-background: #fff;
  --manage-column-icons-color: rgba(22, 22, 22, 0.5);
  --manage-column-icons-hover-color: #161616;
  --scroll-color: #b8bcfd;
  --scroll-background-color: #fff;
  --scroll-background-color-hover: #fbfcff;
}
