@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif, 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #fdfdfd;
  --white-text: #fff;
  --black: #121212;
  --dull-black: #161616;
  --noir-black: #151515;
  --dark: #1f1f1f;
  --violet: #d6d8ff;
  --green-btn: #bedbb0;
  --green-btn-hover: #9dc888;
  --violet-btn: #5255bc;
  --violet-btn-hover: #7b7ede;
  --label-color-grey: rgba(255, 255, 255, 0.3);
  --label-color-blue: #8fa1d0;
  --label-color-red: #e09cb5;
  --label-color-green: #bedbb0;
  --form-error-red: #e7b4ad;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

body.dark {
  --main-text-color: #fff;
  --header-background: #161616;
  --sidebar-background: #121212;
  --taskboard-background: #1f1f1f;
  --header-text-color: rgba(255, 255, 255, 0.8);
  --other-text-color: rgba(255, 255, 255, 0.5);
  --btn-background: #bedbb0;
  --btn-hover-background: #9dc888;
  --icon-stroke-color: rgba(255, 255, 255, 0.8);
  --border-color: rgba(255, 255, 255, 0.1);
  --modal-background: #161616;
  --modal-title-color: #fff;
  --label-text-color: rgba(255, 255, 255, 0.5);
  --btn-text-color: #161616;
  --disabled-text-color: rgba(255, 255, 255, 0.2);
  --calendar-border-color: rgba(255, 255, 255, 0.2);
  --card-background: #121212;
  --card-desc-text-color: rgba(255, 255, 255, 0.5);
  --card-btn-color: rgba(255, 255, 255, 0.5);
  --help-component-background: #1f1f1f;
  --close-icon-color: #fff;
}

body.light {
  --main-text-color: #161616;
  --header-background: #fcfcfc;
  --sidebar-background: #fff;
  --taskboard-background: #f6f6f7;
  --header-text-color: #161616cc;
  --other-text-color: rgba(22, 22, 22, 0.5);
  --btn-background: #bedbb0;
  --btn-hover-background: #9dc888;
  --icon-stroke-color: rgba(22, 22, 22, 0.8);
  --border-color: rgba(22, 22, 22, 0.1);
  --modal-background: #fff;
  --modal-title-color: #161616;
  --label-text-color: rgba(22, 22, 22, 0.5);
  --btn-text-color: #161616;
  --disabled-text-color: rgba(22, 22, 22, 0.2);
  --calendar-border-color: rgba(22, 22, 22, 0.2);
  --card-background: #ffffff;
  --card-desc-text-color: rgba(22, 22, 22, 0.7);
  --card-btn-color: rgba(22, 22, 22, 0.5);
  --help-component-background: #f6f6f7;
  --close-icon-color: #161616;
}

body.violet {
  --main-text-color: #fff;
  --header-background: #fff;
  --sidebar-background: #5255bc;
  --taskboard-background: #ecedfd66;
  --header-text-color: #161616cc;
  --other-text-color: #ffffff80;
  --btn-background: #5255bc;
  --btn-hover-background: #7b7ede;
  --icon-stroke-color: rgba(22, 22, 22, 0.8);
  --border-color: rgba(255, 255, 255, 0.1);
  --modal-background: #fff;
  --modal-title-color: #161616;
  --label-text-color: rgba(22, 22, 22, 0.5);
  --btn-text-color: #ffffff;
  --disabled-text-color: rgba(22, 22, 22, 0.2);
  --calendar-border-color: rgba(22, 22, 22, 0.2);
  --card-background: #ffffff;
  --card-desc-text-color: rgba(22, 22, 22, 0.7);
  --card-btn-color: rgba(22, 22, 22, 0.5);
  --help-component-background: rgba(236, 237, 253, 0.4);
  --close-icon-color: #161616;
}
