.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  position: relative;

  width: 100%;
  padding: 24px;
  border: 1px solid var(--modal-border-color);
  border-radius: 8px;

  background-color: var(--modal-background);
}

.modal > h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 27px;
  font-weight: 500;
  font-size: 18px;
  color: var(--modal-title-color);
}

.input {
  width: 100%;
  height: 49px;
  padding: 18px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  background-color: transparent;
  color: var(--input-text-color);
  transition: border-color, 250ms ease-in;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 14px;
  top: 14px;

  border: hidden;
  background-color: transparent;
  stroke: var(--dull-black);
}

button.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.iconPlus {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 8px;

  background: var(--plus-icon-background);
  stroke: var(--plus-icon-btn-color);
  fill: var(--plus-icon-btn-color);
}

@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
}

@media screen and (min-width: 1024px) {
  .input:hover,
  .input:focus {
    border-color: var(--input-hover-border-color);
  }
}

.errorForm {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: red;
  position: absolute;
  top: 55%; 
  left: 10%;
  width: 100%;
}