.homeWrapper {
  background-color: var(--sidebar-background);
}

.homePage {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.sidebarWrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 89;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebarWrapper.show {
  transform: translateX(0);
}

.main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 85;
  display: none;
}

.main.showSidebar::before {
  display: block;
}

.main {
  flex: 1;
}

.overlay {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal {
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: 375px) {
  .homePage {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .homePage {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .homePage {
    width: 1440px;

  }

  .sidebarWrapper {
    transform: none;
    position: relative;
  }
}
